@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: beige;
    align-items: center;
    display: flex;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    z-index: 9999999;
    position: absolute;
}
main{
    background-image: url("images/background.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.397);
}
.nuvens{
    position: absolute;
    height: 150px;
    width: 450px;
    animation: nuvem 10s linear infinite;
    z-index: 1;
}
@keyframes nuvem{
    from{
        margin-left: 1150px;
    }
    to{
        margin-left: -450px;
    }
}
.b{
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 120px;
    left: 50px;
    border-radius: 45%;
    opacity: 0.95;
}
.pegar{
    left: 340px;
    animation: catch 1s ease;
}
.furacao{
    box-shadow: none;
    bottom: 30px;
    border-radius: none;
    height: 135px;
    width: 120px;
    opacity: 1;
    z-index: 99999;
}
@keyframes catch{
    from{
        left: 50px;
    }
    to{
        left:340px;
    }
}
.vasco{
    height: 150px;
    position: absolute;
    bottom: -5px;
    left: 400px;
    z-index: 999;
}
.jump{
    animation: pular 0.55s ease-out;
}
@keyframes pular{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 150px;
    }
    100%{
        bottom: -5px;
    }
}
.bola{
    height: 140px;
    bottom: -30px;
    transform: rotateY(180deg);
    animation: bola 1.5s linear infinite;
    position: absolute;
}
@keyframes bola{
    from{
        right: -110px;
    }
    to{
        right: 100%;
    }
}
#maxscore{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 18px;
    color: rgb(9, 87, 26);
}
#display{
    margin-left: 5px;
    margin-top: 5px;
    font-size: 24px;
}
.gameover{
    backdrop-filter: blur(150px);
    height: 100%;
    width: 100%;
    z-index: 9999999999;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}
.gameover h2{
    font-size: 45px;
    text-shadow: 3px -1px white;
}
.gameover h3{
    font-size: 22px;
}
#score{
    margin-top: 50px;
    color: aliceblue;
    text-shadow: 3px -1px black;
}
.gameover  span{
    cursor: pointer;
    margin-top: 20px;
    scale: 1.8;
    border-radius: 50%;
    border: 2px solid;
}
.gameover  span:hover{
    background-color: aliceblue;
    scale: 2;
    transition: all 0.3s;
}
@media (max-width:900px){
    body{
        padding-left: 50px;
        padding-right: 50px;
    }
}
@media (max-width:800px){
    .vasco{
        left: 200px;
    }
    @keyframes catch{
        from{
            left: 50px;
        }
        to{
            left:140px;
        }
    }
    @keyframes nuvem{
        from{
            margin-left: 850px;
        }
        to{
            margin-left: -450px;
        }
    }
    .pegar{
        left: 140px;
    }
}
@media (max-width:550px){
    .b{
        height: 60px;
        width: 60px;
    }
    .furacao{
        height: 115px;
    }
    .vasco{
        height: 100px;
        bottom: 0;
    }
    .bola{
        height: 80px;
        bottom: -15px;
    }
    @keyframes pular{
        0%{
            bottom: 0;
        }
        50%{
            bottom: 100px;
        }
        100%{
            bottom: 0px;
        }
    }
    @keyframes catch{
        from{
            left: 50px;
        }
        to{
            left:150px;
        }
    }
    .pegar{
        left: 150px;
    }
}
@media (max-width:470px){
    body{
        padding: 25px;
    }
    .b{
        left: 20px;
    }
    .vasco{
        left: 110px;
    }
    @keyframes catch{
        from{
            left: 20px;
        }
        to{
            left:90px;
        }
    }
    .pegar{
        left: 90px;
    }
    @keyframes nuvem{
        from{
            margin-left: 500px;
        }
        to{
            margin-left: -450px;
        }
    }
}